/vendor/
/node_modules/
/.env
.env
.env.*
!.env.example
env

/public/build/
/public/hot

/storage/*.key
/storage/framework/
/storage/logs/
/storage/app/
/storage/debugbar/

/bootstrap/cache/*.php

.phpunit.result.cache
.phpunit.cache

.idea/
.vscode/

.DS_Store
Thumbs.db
